<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recipe Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-8 offset-md-2">
            <form action="" th:object="${recipe}" th:action="@{/recipe/}" method="post">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
                    Please, correct errors below.
                </div>
                <div class="card" style="margin-top:2rem">
                    <h1 class="card-header">Edit recipe information</h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <input type="hidden" th:field="*{id}">
                                <div class="form-group" th:class="${#fields.hasErrors('description')} ? 'form-group is-invalid' : 'form-group'">
                                    <label for="description" th:text="#{recipe.description}">Recipe Description</label>
                                    <input type="text" class="form-control" id="description" aria-describedby="descriptionHelp" placeholder="Enter recipe's description" th:field="*{description}" th:errorclass="is-invalid">
                                    <span class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                    <small id="descriptionHelp" class="form-text text-muted">Enter a short description of the recipe.</small>
                                </div>
                                <div class="form-group">
                                    <label for="description">Categories</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="categoryCheck1">
                                        <label class="form-check-label" for="categoryCheck1">
                                            Category one
                                        </label>
                                    </div>
                                    <div class="form-check" th:remove="all">
                                        <input class="form-check-input" type="checkbox" value="" id="categoryCheck2">
                                        <label class="form-check-label" for="categoryCheck2">
                                            Category two
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group" th:class="${#fields.hasErrors('prepTime')} ? 'form-group is-invalid' : 'form-group'">
                                            <label for="prepTime">Prep time</label>
                                            <input type="text" class="form-control" id="prepTime" th:field="*{prepTime}" th:errorclass="is-invalid">
                                            <span class="invalid-feedback" th:if="${#fields.hasErrors('prepTime')}">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"></li>
                                                </ul>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group" th:class="${#fields.hasErrors('cookTime')} ? 'form-group is-invalid' : 'form-group'">
                                            <label for="cookTime">Cook time</label>
                                            <input type="text" class="form-control" id="cookTime" th:field="*{cookTime}" th:errorclass="is-invalid">
                                            <span class="invalid-feedback" th:if="${#fields.hasErrors('cookTime')}">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"></li>
                                                </ul>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="difficultySelect">Difficulty</label>
                                            <select class="form-control" id="difficultySelect" th:field="*{difficulty}">
                                                <option th:each="difficultyValue : ${T(es.carlop.spring5recipeapp.domain.Difficulty).values()}"
                                                        th:value="${difficultyValue.name()}"
                                                        th:text="${difficultyValue.name()}">val</option>
                                            </select>
                                            <select class="form-control" id="difficultySelect" th:remove="all">
                                                <option>easy</option>
                                                <option>medium</option>
                                                <option>hard</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group" th:class="${#fields.hasErrors('servings')} ? 'form-group is-invalid' : 'form-group'">
                                            <label for="servings">Servings</label>
                                            <input type="text" class="form-control" id="servings" th:field="*{servings}" th:errorclass="is-invalid">
                                            <span class="invalid-feedback" th:if="${#fields.hasErrors('servings')}">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"></li>
                                                </ul>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="source">Source</label>
                                            <input type="text" class="form-control" id="source" th:field="*{source}">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group" th:class="${#fields.hasErrors('url')} ? 'form-group is-invalid' : 'form-group'">
                                            <label for="url">URL</label>
                                            <input type="text" class="form-control" id="url" th:field="*{url}" th:errorclass="is-invalid">
                                            <span class="invalid-feedback" th:if="${#fields.hasErrors('url')}">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('url')}" th:text="${err}"></li>
                                                </ul>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-top:2rem">
                    <div class="card-header">
                        <h2>
                            Ingredients
                            <a href="#" class="btn btn-dark btn-sm float-right" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}">Edit</a>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <ul th:if="${not #lists.isEmpty(recipe.ingredients)}">
                                    <li th:remove="all">Ingredient one</li>
                                    <li th:remove="all">Ingredient two</li>
                                    <li th:each="ingredient: ${recipe.ingredients}" th:text="${ingredient.amount}
                                        + ' ' + ${ingredient.uom.description}
                                        + ' - ' + ${ingredient.description}">Ingredient three</li>
                                </ul>
                                <div th:each="ingredientEach, idx : ${recipe.ingredients}">
                                    <input type="hidden" th:field="*{ingredients[__${idx.index}__].id}" />
                                    <input type="hidden" th:field="*{ingredients[__${idx.index}__].description}" />
                                    <input type="hidden" th:field="*{ingredients[__${idx.index}__].amount}" />
                                    <input type="hidden" th:field="*{ingredients[__${idx.index}__].uom.id}" />
                                </div>
                                <div th:each="catEach, idx : ${recipe.categories}">
                                    <input type="hidden" th:field="*{categories[__${idx.index}__].id}"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-top:2rem">
                    <h2 class="card-header">Directions</h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group" th:class="${#fields.hasErrors('directions')} ? 'form-group is-invalid' : 'form-group'">
                                    <label for="directions">Directions</label>
                                    <textarea type="text" class="form-control" id="directions" aria-describedby="directionsHelp" placeholder="Enter recipe's directions" th:field="*{directions}" th:errorclass="is-invalid"></textarea>
                                    <span class="invalid-feedback" th:if="${#fields.hasErrors('directions')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('directions')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                    <small id="directionsHelp" class="form-text text-muted">Enter the directions for this recipe.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-top:2rem">
                    <h2 class="card-header">Notes</h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="notes">Notes</label>
                                    <textarea type="text" class="form-control" id="notes" placeholder="Enter recipe's notes" th:field="*{notes.recipeNotes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group" role="group" aria-label="Options" style="margin-top: 2rem;">
                    <button type="submit" class="btn btn-dark btn-lg">Submit</button>
                    <a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}" role="button" class="btn btn-dark btn-lg">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous" th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

</body>
</html>
