<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recipe Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-2 offset-md-10 fixed-top">
            <div class="btn-group-vertical" style="margin-top: 2rem;">
                <a role="button" class="btn btn-dark" href="/">Back</a>
                <a role="button" class="btn btn-dark" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Edit</a>
                <a role="button" class="btn btn-dark" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">Delete</a>
            </div>
        </div>
        <div class="col-8 offset-md-2">
            <div class="card" style="margin-top:2rem">
                <h1 class="card-header" th:text="${recipe.description}">Recipe description</h1>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <h5>Categories:</h5>
                        </div>
                        <div class="col-4">
                            <ul>
                                <li th:remove="all">Cat one</li>
                                <li th:remove="all">Cat two</li>
                                <li th:each="category: ${recipe.categories}" th:text="${category.description}">Cat three</li>
                            </ul>
                        </div>
                        <div class="col-5">
                            <img src="../../static/images/guacamole400x400WithX.jpg"
                                 th:src="@{/images/guacamole400x400WithX.jpg}"
                                 width="200" height="200" th:alt="${recipe.description} + ' image'" th:title="${recipe.description} + ' image'">
                            <a href="#" class="btn btn-dark btn-sm float-right" th:href="@{'/recipe/' + ${recipe.id} + '/image'}">Change image</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h5>Prep Time:</h5>
                        </div>
                        <div class="col-3">
                            <p th:text="${recipe.prepTime} + ' min'">30 min</p>
                        </div>
                        <div class="col-3">
                            <h5>Difficulty</h5>
                        </div>
                        <div class="col-3">
                            <p th:text="${recipe.difficulty}">Easy</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h5>Cook Time:</h5>
                        </div>
                        <div class="col-3">
                            <p th:text="${recipe.cookTime} + ' min'">30 min</p>
                        </div>
                        <div class="col-3">
                            <h5>Servings:</h5>
                        </div>
                        <div class="col-3">
                            <p th:text="${recipe.servings}">4</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h5>Source:</h5>
                        </div>
                        <div class="col-3">
                            <p th:text="${recipe.source}">Source</p>
                        </div>
                        <div class="col-3">
                            <h5>URL:</h5>
                        </div>
                        <div class="col-3">
                            <p><a href="" th:href="${recipe.url}" th:text="${recipe.url}">https://www.carlop.es</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top:2rem">
                <h2 class="card-header">
                    Ingredients
                    <a href="#" class="btn btn-dark btn-sm float-right" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}">View</a>
                </h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <ul>
                                <li th:remove="all">Ingredient one</li>
                                <li th:remove="all">Ingredient two</li>
                                <li th:each="ingredient: ${recipe.ingredients}" th:text="${ingredient.amount} + ' ' +
                                 ${ingredient.uom.description} + ' - ' +
                                 ${ingredient.description}">Ingredient three</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top:2rem">
                <h2 class="card-header">Directions</h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p th:text="${recipe.directions}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu auctor diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec lacinia, dolor ac vehicula sagittis, mauris elit efficitur enim, sed ultrices felis velit sed lorem. Sed lorem ligula, cursus ut eleifend ut, malesuada sed quam. Mauris ut ligula sapien. Pellentesque nec urna at dolor congue iaculis a sed dolor. Suspendisse vitae tortor ut purus luctus tempor sit amet vel dui. Donec eu dapibus nunc. Duis semper rhoncus lectus, id semper ipsum egestas eget. Ut bibendum nunc nec dolor ornare, vel commodo ligula congue. In hac habitasse platea dictumst.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top:2rem">
                <h2 class="card-header">Notes</h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p th:each="note: ${recipe.notes.recipeNotes}" th:text="${note}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu auctor diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec lacinia, dolor ac vehicula sagittis, mauris elit efficitur enim, sed ultrices felis velit sed lorem. Sed lorem ligula, cursus ut eleifend ut, malesuada sed quam. Mauris ut ligula sapien. Pellentesque nec urna at dolor congue iaculis a sed dolor. Suspendisse vitae tortor ut purus luctus tempor sit amet vel dui. Donec eu dapibus nunc. Duis semper rhoncus lectus, id semper ipsum egestas eget. Ut bibendum nunc nec dolor ornare, vel commodo ligula congue. In hac habitasse platea dictumst.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" th:src="@{/webjars/popper.js/1.14.1/popper.min.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>

</body>
</html>
